.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#clearbtn {
  margin-left: 30px;
}

.container::before {
  content: "";
  background-image: url(img/bg.jpg);
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
}

.card-body {
  background-color: #faeed7;
  border-radius: 12px;
  border: 1px solid rgb(211, 180, 180);
  overflow-wrap: break-word;
}

#impNotesbtn {
  margin-right: 50px;
}

.impbtn {
  margin-top: 10px;
}

.imp {
  background-color: #b2fbbb;
}

#resetbtn {
  margin-right: 50px;
}
